# Backend
zeevCode/target/
secrets/
zeevCode/.idea/
*.iml
**/*.class
**/*.exe

# Frontend
judge-frontend/node_modules/
judge-frontend/dist/
judge-frontend/.vite/

# Environment
*.env
.env.local

# Application Logs
logs/
*.log

target/